
/* App.css */

/* Fade transition for route changes */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

/* Ensuring page styling */
.page {
  min-height: calc(100vh - 100px); /* Adjust for navbar/footer */
  display: flex;
  flex-direction: column;
}



.content{
  margin-top: 6rem;
}

.grand-hotel-regular {
  font-family: "Grand Hotel", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans-regular {
  font-family: "Merriweather Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans-italic {
  font-family: "Merriweather Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-sans-bold {
  font-family: "Merriweather Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* Add this to your global CSS or Tailwind CSS configuration */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* For Firefox */
}
